h2{
    text-align: center;
    font-size:xx-large;
    color: coral;
}
h3{
    text-align: center;
    font-size:middle;
    color: coral;
    font-weight: 600;
}
* {
    box-sizing: border-box; 
    padding-left: 50px;
    padding-right:50px;
}
#info{
    padding-left: 50px;
    padding-right:50px;
}

h4{
    text-align: center;
    font-size:large;
    color: rgb(114, 41, 14);
}
