<h2>Cookbook</h2>
<h3>make a good diet and keep healthy</h3>
<div>
    <div style="width: 60%;">
      <div class="mat-card-content">
          <div class="mat-card1">
       
            <h5>Shiba Inu</h5>
            <h4>Dog Breed</h4>

        </div>
      

            <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
            <a target="_blank" href="../assets/01.jpg">
              <img src="../assets/01.jpg" alt="Paris" width="600" height="400">
            </a>
            <!-- <div class = "div2" >
              <button class="btn-share" (click)="SearchByType(typeList.type)" *ngFor="let typeList of recipeinfo">
                {{typeList.type}}
              </button>      
          </div> -->
            <div class = "div2" >
              <button class="btn-share">
                breakfast
              </button>      
            </div>
            <div class="left">
              <h6>
                Good morning
              </h6>

            </div>
            <div  class="right">
              <h6>
                Good morning
              </h6>
            </div>
           
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
    </div>
    <div style="width: 40%;">


    </div>
</div>

